[user]
	name = Daniel Grijuela
	email = danielgrijuela@gmail.com
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/bin/vim
